<div class="d-flex justify-content-center mt-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @task.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">State: <%= @task.status %></h6>
      <p class="card-text"><%= @task.description %></p>
      <a href="#" class="card-link">Edit task</a>
      <a href="#" class="card-link">Delete task</a>
      <a href="\tasks" class="card-link">Home</a>
    </div>
  </div>
</div>
